# Data
data/
*.parquet
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Great Expectations
great_expectations/uncommitted/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
